doctype html
html
  head
    title 'Midnight Run'
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src="/socket.io/socket.io.js")
    script(src="/run.js")
  body
    block content
